@import "_cakeComponent/variable";
@import "_cakeComponent/global";
@import "_cakeComponent/header";
@import "_cakeComponent/footer";
@import "_cakeComponent/home";
@import "_cakeComponent/mq";



/*cake tab start*/
.popular-section,
.cake-tab {
    background: $bg-color;
    margin-top: 10px;
    .nav {
        .nav-item {
            margin-right: 3rem;
            &:last-child {
                margin-right: 0px;
            }
            .cake-tab-link {
                background: transparent !important;
                color: #000 !important;
                text-transform: capitalize;
                border-radius: 0 !important;
                padding: 0;
                font-weight: 700;
                &.active,
                &:hover {
                    color: $hover-color !important;
                    border-bottom: 0.1875rem solid $hover-color;
                }
            }
        }
    }
    .cake-carousel {
        .item {
            padding: 0.3125rem;
        }
    }
}







.popular-section .cake-card {
    margin-bottom: 1.875rem;
}
.carousel-center-btn .owl-nav button {
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}
.carousel-center-btn .owl-nav button.owl-prev {
    left: -2.5rem;
}
.carousel-center-btn .owl-nav button.owl-next {
    right: -2.5rem;
}

/*popular start*/
.popular-section {
    padding-bottom: 1.125rem;
}
.popular-section .cake-card:hover {
    transform: scale(1.09);
}

/*about start*/
.cake-about h2.border-title {
    padding-left: 0;
    padding-bottom: 0.9375rem;
}
.cake-about h2.border-title:before {
    height: 0.25rem;
    width: 50%;
    top: auto;
    left: 0;
    bottom: 0;
}
.about-img {
    height: 20rem;
    width: 100%;
    overflow: hidden;
}
.about-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*menu card start*/
.menu-card-list {
    padding-bottom: 1.875rem;
}
.menu-card {
    text-align: center;
    position: relative;
    width: 20%;
    float: left;
    padding-right: 1.875rem;
    margin-bottom: 1.875rem;
}
.menu-card .menu-card-img {
    /*border: .1875rem solid #707070;*/
    height: 12.5rem;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0.9375rem;
}
.menu-card .menu-card-title h3 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.25rem;
    color: #000;
}
.menu-card-list .menu-card:nth-child(5),
.menu-card-list .menu-card:last-child {
    padding-right: 0;
}

/*home policies start*/
.home-policies {
    padding: 5rem 0 3.75rem 0;
    background: #fff;
    position: relative;
    height: 100%;
}
.home-policies:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(225, 225, 225, 0.5), rgba(225, 225, 225, 0.5)),
        url(../cake-images/image/25.png);
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
}
.home-policy-card {
    position: relative;
    z-index: 1;
    margin-bottom: 1.875rem;
}
.policy-card-title h4 {
    font-size: 1.25rem;
    font-weight: 800;
    color: #000;
}

/*mobile section start*/
.mobile-section {
    background: $yellow-color;
}
.mobile-content h2 {
    font-weight: 700;
    font-size: 2.1875rem;
    margin-bottom: 0.9375rem;
    color: #000;
}
.mobile-content p {
    margin-bottom: 0.9375rem;
}
.mobile-content ul {
    display: flex;
}
.mobile-content ul li {
    display: inline-block;
    margin-right: 1.5625rem;
}
.mobile-content ul li:last-child {
    margin-right: 0;
}
.mobile-content ul li img {
    height: 3.125rem;
    width: auto;
    object-fit: contain;
}
.email-section {
    background: rgba(255, 255, 255, 0.9);
    padding: 0.9375rem 1.875rem;
    border-radius: 10px;
}
.email-section .form-check-input:checked {
    background-color: $primary-color;
    border-color: $primary-color;
}
.alternative span {
    position: absolute;
    bottom: 0;
    font-size: 2.1875rem;
    padding-left: 0.9375rem;
}
.alternative span:before {
    content: "";
    height: 100%;
    width: 0.125rem;
    position: absolute;
    left: 0;
    background: #555;
}
/*mobile section end*/
/*home end*/

/*cake page start*/
.custom-carousel-item {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
#cake-page-carousel .carousel-indicators button {
    height: 0.9375rem !important;
    width: 0.9375rem !important;
    border-radius: 50%;
}
.cake-type-card {
    display: flex;
    align-items: center;
    border: 0.125rem solid #ddd;
    padding: 0.625rem 1.25rem;
}
.cake-type-card .cake-type-img {
    height: 6.25rem;
    width: 6.25rem;
    overflow: hidden;
}
.cake-type-card .cake-type-img img {
    border-radius: 6.25rem;
}
.cake-type-card .cake-type-title {
    width: calc(100% - 6.25rem);
}
.cake-type-card .cake-type-title h4 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.25rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.cake-type-carousel .owl-nav button {
    top: 50%;
    transform: translateY(-50%);
}
.cake-type-carousel .owl-nav button.owl-prev {
    left: -3.125rem;
}
.cake-list-card {
    position: relative;
    overflow: hidden;
    border: 0.0625rem solid $primary-color;
    border-radius: 1.875rem;
    background: #fff;
    margin-bottom: 1.875rem;
    transition: all 0.5s ease;
}
.cake-list-img {
    height: 15.625rem;
    width: 100%;
    overflow: hidden;
    border-radius: 1.875rem;
    margin-bottom: 1.25rem;
}
.cake-list-content {
    padding: 0 1.25rem;
}
.cake-list-content .resto-name {
    font-size: 1.375rem;
    font-weight: 800;
    color: #000;
    transition: all 0.5s ease;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.cake-list-card:hover .cake-list-content .resto-name {
    color: $hover-color;
}
.cake-list-content .address {
    font-size: 1rem;
    margin-bottom: 0.3125rem;
}
.icon-star span {
    color: #b5b5b5;
}
.icon-star span.checked {
    color: $hover-color;
}
.cake-list-content .cake-name {
    color: $third-color;
    font-weight: 800;
    font-size: 1.25rem;
    margin-bottom: 0.3125rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.cake-list-content .cake-name a {
    color: #000;
}
.cake-list-content .open-hrs {
    font-size: 0.875rem;
    color: #000;
    margin-bottom: 0.5rem;
}
.cake-list-content .open-hrs span {
    font-size: 0.875rem;
    color: #000;
}
.cake-list-footer {
    border-top: 0.0625rem solid $primary-color;
    padding: 0.5rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cake-list-footer .duration span img {
    height: 1.375rem;
    width: auto;
    object-fit: contain;
}
.cake-list-footer .price {
    color: $secondary-color;
    font-weight: 800;
}
.cake-list-card:hover .cake-list-img img {
    transform: scale(1.1);
}
.cake-list-card:hover {
    border-color: transparent;
    box-shadow: 0 0.625rem 1.875rem rgb(0 0 0 / 7%);
}
.festive-text p {
    margin-bottom: 0.625rem;
}
.festive-title {
    font-weight: 800;
    color: #000;
}
.festive-option {
    color: $primary-color;
    font-weight: 800;
    position: relative;
    padding-right: 0.625rem;
}
.festive-option:before {
    content: "";
    height: 100%;
    width: 0.125rem;
    background: #ddd;
    position: absolute;
    right: 0;
}
.festive-option:last-child:before {
    display: none;
}
/*cake page end*/

/*product list section start*/
.product-list-section {
    background: $bg-color;
}
.sidebar-box {
    box-shadow: 0 0.625rem 1.875rem rgb(214 148 35 / 7%);
    background: #fffcd08a;
    padding: 0.9375rem;
    margin-bottom: 1.875rem;
    border: 1px solid $primary-color;
}
.sidebar-box .accordion-item {
    background: #fefae0;
}
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 2.1875rem;
    margin-bottom: 0.75rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.custom-checkbox:last-child {
    margin-bottom: 0;
}
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5625rem;
    width: 1.5625rem;
    background-color: $primary-color;
    border: 0.0625rem solid $primary-color;
    border-radius: 0.3125rem;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}
.custom-checkbox .checkmark:after {
    left: 0.5625rem;
    top: 0.3125rem;
    width: 0.3125rem;
    height: 0.625rem;
    border: solid #fff;
    border-width: 0 0.1875rem 0.1875rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.sidebar-box .accordion {
    width: 100%;
}
.sidebar-box .accordion .accordion-button {
    padding: 0 !important;
    font-size: 1rem;
    font-weight: 700;
}
.sidebar-box .accordion .accordion-button,
.sidebar-box .accordion .accordion-button:focus {
    color: inherit;
    background: transparent;
    border-color: transparent;
    box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.food-filter {
    margin-bottom: 1.875rem;
    border-top: 0.0625rem solid #ddd;
    padding-top: 1.875rem;
}
.food-filter li {
    display: inline-block;
    margin-right: 1.25rem;
}
.food-filter li:last-child {
    margin-right: 0;
}
.food-filter .food-btn {
    border: 0.0625rem solid $third-color;
    background: #fff;
    border-radius: 1.875rem;
    font-weight: 700;
    padding: 0.625rem 1.875rem;
    color: $text-color;
    margin-right: 1.25rem;
    transition: all 0.5s ease;
}
.food-filter .food-btn i {
    font-weight: 900;
}
.food-filter .food-btn.active,
.food-filter .food-btn:hover {
    background: $third-color;
    color: #fff;
}
.pagination .page-link {
    background: transparent;
    border: none;
    color: $text-color;
    font-weight: 800;
    transition: all 0.5s ease;
    margin-left: 0.3125rem !important;
}
.pagination .page-item:last-child .page-link {
    background: $secondary-color;
    color: #fff;
    border-radius: 0.3125rem;
}
.pagination .page-item .page-link:hover,
.pagination .page-item.active .page-link {
    background: $primary-color;
    color: #fff;
    border-radius: 0.3125rem;
}
.sort-cuisines {
    position: relative;
}
.sort-cuisines h4 {
    background: $hover-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    font-size: 1.375rem;
    font-weight: 700;
    padding: 0.625rem 1.25rem;
}
.filter-active {
    cursor: pointer;
    font-weight: 800;
    margin-top: 0.9375rem;
    color: $hover-color;
}
.filter-wrapper {
    display: none;
}
/*product list section end*/

.cake-offer-content {
    background-image: linear-gradient(to bottom, #fba7a5, #ffac92, #ffb67b, #ffc562, #ffd74c);
    padding: 5rem 6.25rem 5rem 2.5rem;
    color: #000;
    position: relative;
}
.cake-offer-content h5 {
    color: #000;
    text-align: center;
    position: relative;
    padding-bottom: 0.625rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.cake-offer-content h5:before {
    content: "";
    height: 0.125rem;
    width: 50%;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.cake-offer-content p {
    font-size: 0.875rem;
    margin-top: 0.625rem;
    padding-left: 1.875rem;
    color: #000;
    margin-bottom: 0;
}
.cake-offer-content img {
    position: absolute;
    right: -5.625rem;
    top: 50%;
    transform: translateY(-50%);
}
h2.offer-title {
    color: #000;
    font-weight: 800;
    text-align: center;
    font-size: 2.25rem;
    padding-top: 5rem;
}
.offer-title-section {
    position: relative;
}
.img-ingredient {
    object-fit: cover;
    height: 15.625rem;
    width: 100%;
}

/*product detail start*/
.page-banner {
    position: relative;
    /*height: 70vh;*/
    width: 100%;
    overflow: hidden;
    margin-top: 65px;
}
.page-banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.page-banner .breadcrumb {
    position: absolute;
    top: 6.25rem;
    left: 0.625rem;
    background: #262626;
    color: #fff;
    padding: 0.9375rem 1.25rem;
    border-radius: 0.625rem;
}
.breadcrumb-item + .breadcrumb-item::before,
.page-banner .breadcrumb .breadcrumb-item,
.page-banner .breadcrumb .breadcrumb-item a {
    color: #fff;
}
.about-banner-content,
.checkout-user,
.checkout-login-section,
.product-content {
    background: #fff;
    box-shadow: 0 0.625rem 1.875rem rgb(0 0 0 / 7%);
    padding: 5rem 2.5rem 2.5rem 2.5rem;
    position: relative;
    top: -5rem;
}
.product-img {
    height: 31.25rem;
    width: 100%;
    overflow: hidden;
    border-radius: 1.875rem;
}
.product-img img {
    height: 100%;
    width: 100% !important;
    object-fit: cover;
}
.product-dtl {
    padding: 0 2.5rem;
}
.product-dtl-head {
    text-align: center;
}
.product-dtl-head .title {
    font-weight: 800;
    font-size: 1.875rem;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 0.625rem;
}
.product-dtl-head .subtitle {
    color: $text-color;
    text-transform: capitalize;
}
.product-dtl-body {
    margin-top: 0.625rem;
}
.quantity {
    display: inline-block;
    background: #fff;
    border: 0.125rem solid $yellow-color;
    border-radius: 1.875rem;
}
.quantity input[type="number"] {
    width: 4.375rem;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    color: $secondary-color;
    background: none;
    outline: none;
    pointer-events: none;
    border: none;
}
.quantity span.spinner {
    height: 2.5rem;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.quantity span.spinner > .sub,
.quantity span.spinner > .add {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 2.1875rem;
    border-right: 0;
    border-radius: 0.125rem 0 0 0.125rem;
    cursor: pointer;
    transition: 0.1s linear;
    color: #03a9f4;
    -o-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
}
.quantity span.spinner > .sub {
    border-right: 0.125rem $yellow-color solid;
}
.quantity span.spinner > .add {
    top: 0;
    border-left: 0.125rem $yellow-color solid;
    border-radius: 0 0.125rem 0.125rem 0;
}
.quantity span.spinner > .sub:hover,
.quantity span.spinner > .add:hover {
    /*background: $primary-color;*/
    color: $primary-color;
}
.quantity input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.price-bg span {
    background: $hover-color;
    color: #fff;
    padding: 0.5rem 1.875rem;
    display: inline-block;
    border-radius: 0.5rem;
    font-weight: 800;
    font-size: 1.125rem;
}
.xzoom-container {
    display: block !important;
}
.xzoom-thumbs {
    margin-top: 1.25rem;
}
.xzoom-thumbs img {
    height: 5rem;
    width: 6.25rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: 0.625rem;
}
.product-size {
    border-radius: 0.9375rem;
    border: 0.125rem solid $yellow-color;
}
.product-size-card {
    padding: 0.625rem;
    border-right: 0.125rem solid $yellow-color;
}
.product-size-card span {
    font-weight: 600;
    text-transform: capitalize;
}
.product-size-card h4 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.375rem;
}
/*product dtl tabs*/
.product-tab-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-tab-header .nav-pills .nav-link.active,
.product-tab-header .nav-pills .nav-link,
.product-tab-header .nav-pills .show > .nav-link {
    background: none;
    color: $primary-color;
    text-transform: capitalize;
    padding: 0;
    border-radius: 0;
    position: relative;
}
.product-tab-header .nav-item {
    border-bottom: 0.25rem solid $third-color;
    padding-right: 3.125rem;
    padding-bottom: 0.625rem;
}
.product-tab-header .nav-item:last-child {
    padding-right: 0px;
}
.product-tab-header .nav-item .nav-link {
    font-size: 1.25rem;
    font-weight: 800;
}

.product-tab-header .nav-pills .nav-link.active:before {
    content: "";
    height: 0.25rem;
    width: 100%;
    background: $secondary-color;
    position: absolute;
    bottom: -0.875rem;
    left: 0;
}
.product-tab-header form .form-control {
    border-radius: 1.875rem;
    border-color: $primary-color;
    position: relative;
}
.product-tab-header form .input-group-text {
    border-radius: 1.875rem;
    background: #fff;
    border-color: $primary-color;
}
/*other food card*/
.other-food-card {
    border-radius: 1.875rem;
    border: 0.0625rem solid $secondary-color;
    position: relative;
    transition: all 0.5s ease;
}
.other-food-carousel .item {
    padding-top: 7.8125rem;
    padding-bottom: 1.875rem;
}
.other-food-card .food-img {
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    border: 0.125rem solid $primary-color;
    padding: 0.125rem;
    background: #fff;
    margin-top: -7.8125rem;
}
.other-food-card .food-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    transition: all 0.5s ease;
}
.food-card-content {
    padding: 1.25rem;
    text-align: center;
}
.food-card-content h4 {
    font-weight: 800;
    margin-bottom: 0.625rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: all 0.5s ease;
}
.food-card-content p {
    margin-bottom: 0.625rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.other-food-card .food-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: $third-color;
    margin: auto;
    position: relative;
    top: 1.25rem;
    transition: all 0.5s ease;
}
.other-food-card .food-plus:hover {
    background: $secondary-color;
}
.other-food-card .food-plus i {
    font-size: 1.5625rem;
    color: #fff;
}
.other-food-card:hover {
    border-color: $primary-color;
}
.other-food-card:hover .food-img {
    border: 0.1875rem solid $secondary-color;
}
.other-food-card:hover .food-img img {
    transform: scale(1.1);
}
.other-food-card:hover .food-card-content h4 a {
    color: $third-color;
}
/*feedbak*/
.product-feedback {
    border-bottom: 0.0625rem solid $secondary-color;
    margin-bottom: 1.25rem;
    background: #fff;
    padding: 0.625rem;
}
.product-feedback:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
.product-feedback-head {
    display: flex;
    align-items: center;
}
.feedback-avatar img {
    height: 6.25rem;
    width: 6.25rem;
    object-fit: cover;
    border-radius: 50%;
}
.product-feedback-content {
    width: calc(100% - 6.25rem);
    padding: 0 0.9375rem;
}
.feedback-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625rem;
}
.feedback-user h5 {
    color: #000;
    font-weight: 800;
}
.rating-num {
    color: $primary-color !important;
    font-weight: 700;
}
/*modal checkout*/
.modal-checkout .modal-content {
    padding: 2.5rem;
}
.modal-checkout .modal-header {
    border-bottom: 0.0625rem solid #98ce56;
    padding-bottom: 0.625rem !important;
}
.modal-title {
    color: $primary-color;
    font-weight: 700;
}
.modal-header .btn-close {
    background: $primary-color;
    height: 0.9375rem;
    width: 0.9375rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.modal-header .btn-close:before {
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    color: #fff;
}
.list-item-card {
    justify-content: space-between;
    margin-bottom: 0.625rem;
}
.list-item-card:last-child {
    margin-bottom: 0;
}
.item-name h5 {
    font-weight: 700;
    margin-bottom: 0.3125rem;
}
.item-meta span {
    font-weight: 600;
    color: $third-color;
    margin-right: 0.9375rem;
}
.item-meta span i {
    color: $primary-color;
}
.modal-footer {
    border-top: 0.0625rem solid #98ce56;
}
.modal-checkout-subtotal,
.modal-checkout-total {
    border-top: 0.0625rem solid #98ce56;
    padding-top: 0.625rem;
    margin-top: 0.9375rem;
}
.modal-checkout-total .price,
.modal-checkout-total h5 {
    font-weight: 800;
    font-size: 1.5rem;
    color: $primary-color;
}

/*surprise food start*/
.surprise-food-cart {
    border-bottom: 0.0625rem solid #98ce56;
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
}
.surprise-food-cart img {
    height: 9.375rem;
    width: auto;
    object-fit: contain;
}
.surprise-food-cart h4 {
    color: $primary-color;
}
.special-list-item {
    background: #fff;
    padding: 1.25rem;
    box-shadow: 0 0.625rem 1.875rem rgb(0 0 0 / 7%);
    margin-top: 0.9375rem;
}
.special-list-item .form-check {
    position: relative;
    padding-left: 0;
}
.special-list-item .form-check p {
    position: absolute;
    right: 0;
    top: 0;
    margin-bottom: 0;
}
.special-list-item .form-check p .radio-input {
    float: right;
    margin-right: 0px;
    margin-left: 1.25rem;
}
.special-list-item .form-check .radio-label {
    padding-left: 0;
    font-weight: 700;
}
.special-list-item .form-check p .radio-input:checked {
    background-color: $primary-color;
    border-color: $primary-color;
}
.price-qty .price {
    margin-right: 1.25rem;
}
.delivery-time label {
    cursor: pointer;
    font-weight: 600;
    margin-right: 1.25rem;
}
.delivery-time input:checked ~ label {
    font-weight: 800;
}
/*surprise food end*/
/*product detail end*/

/*checkout start*/
.checkout-login-section h4 {
    font-weight: 800;
    margin-bottom: 0.625rem;
}
.checkout-login-section p {
    font-weight: 700;
    font-size: 1.125rem;
}
.checkout-login-section .default-btn .btn-more {
    margin-right: 1.25rem;
}
.checkout-login-section .default-btn .btn-more span {
    display: block;
}

/*cart start*/
.cart-img {
    height: 25rem;
    width: 100%;
    overflow: hidden;
}
.cart-img img {
    object-fit: contain;
}
.cake-cart-section .product-dtl-body {
    border-radius: 0.625rem;
    border: 0.0625rem solid #000;
    padding: 1.25rem;
}
.cake-cart-section .product-dtl-body h5 {
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0.625rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.cake-cart-section .product-dtl-body p {
    margin-bottom: 0.625rem;
}
.cake-cart-section .product-dtl-body span {
    color: $secondary-color;
}
.cart-dtl-section {
    border-radius: 0.625rem;
    border: 0.0625rem solid #000;
    padding: 1.25rem;
}
.cart-dtl-section-head h5 {
    color: $secondary-color;
    font-weight: 600;
    margin-bottom: 0.625rem;
}
.cart-dtl-section-head h5 span {
    color: $primary-color;
}
.cart-dtl-note-body ul li {
    padding-left: 1.5625rem;
    position: relative;
}
.cart-dtl-note-body ul li:before {
    content: "";
    height: 0.625rem;
    width: 0.625rem;
    background: #ddd;
    border-radius: 3.125rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.cake-weight-text small {
    color: $primary-color;
}
.cake-delivery-icon img {
    height: 3.125rem;
    width: 100%;
    object-fit: contain;
}
.cake-delivery-text .availability {
    color: #000;
    font-weight: 600;
}
.cake-delivery-text .stocks {
    background: $secondary-color;
    color: #fff;
    padding: 0.3125rem 0.625rem;
    margin-left: 0.625rem;
}
.cake-delivery-text .out-stocks {
    background: $primary-color;
    color: #fff;
    padding: 0.3125rem 0.625rem;
    margin-left: 0.625rem;
}
.cake-coupn input.form-control {
    padding: 0.625rem;
    border-color: $secondary-color;
}
.cake-coupn input.form-control::placeholder {
    color: $primary-color;
}
.cake-total {
    border-top: 0.0625rem solid #ddd;
}
.cake-total h3 {
    font-weight: 700;
    color: $hover-color;
}
.cake-total h3 > span {
    font-size: 0.875rem;
    color: $secondary-color;
}
.cart-dtl-section .cake-proceed-btn {
    margin-top: 0.9375rem;
    padding-top: 0.9375rem;
    border-top: 0.0625rem solid #ddd;
}
/*cart end*/
