.wrapper {
    box-shadow: 0 .625rem 1.875rem rgb(0 0 0 / 7%);
    background: rgba(225, 225, 225, 0.6);
    nav{
        position: relative;
        display: flex;
        margin: 0 auto;
        padding: .625rem;
        align-items: center;
        justify-content: space-between;
        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .links {
                display: flex;
                align-items: center;
                li{
                    list-style: none;
                    margin-left: 1.875rem;
                }
            }
            .logo {
                a{
                    font-size: 1.875rem;
                    font-weight: 600;
                }
                img {
                    height: 2.8125rem;
                    width: auto;
                    object-fit: contain;
                    transition: all 0.5s ease;
                }
            }
        }
    }
    &.sticky {
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 9;
        background: #fff;
        box-shadow: 0px 0px .3125rem 1px rgba(0,0,0,0.4);
        transition: all 0.6s ease-in-out;
    }
}


.content .links li a,
.content .links li label{
    font-size: .9375rem;
    font-weight: 700;
    border-radius: .3125rem;
    text-transform: capitalize;
    color: #000;
    transition: all 0.3s ease;
}
.content .links li a:hover,
.content .links li label:hover{
    color: $primary-color;
}
.wrapper .menu-icon{
    font-size: 1.125rem;
    cursor: pointer;
    line-height: 4.375rem;
    width: 3.125rem;
    text-align: center;
}
.wrapper .menu-icon{
    display: none;
}
.navcart-icon.mobile-icon {
    position: relative;
}
.login-menu {
    position: absolute;
    top: 115%;
    right: 0;
    visibility: hidden;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 1.875rem rgb(0 0 0 / 3%);
    min-width: 10rem;
    padding: .625rem;
    border-radius: .625rem;
    z-index: 3;
    transition: all 0.5s ease;
}
.navcart-icon.mobile-icon:hover .login-menu {
    visibility: visible;
    opacity: 1;
    top: 105%;
}
.navcart-icon.mobile-icon .login-menu li {
    margin-left: 0;
    white-space: nowrap;
}
.navcart-icon.mobile-icon .login-menu li a i,
.navcart-icon.mobile-icon .login-menu li a {
    font-size: .875rem;
}
.navcart-icon > a {
    height: 2.1875rem;
    width: 2.1875rem;
    background: #fff;
    border-radius: .625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border: 0.125rem solid #efc4ef;
}
.navcart-icon img {
    height: 1.25rem;
    width: 1.25rem;
    object-fit: contain;
}
.navcart-icon > a i {
    color: $secondary-color;
    font-size: 1.25rem;
}
.links li.navcart-icon {
    margin-left: .9375rem;
    display: inline-block;
}
.-hide {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999; 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: black; 
    background: rgba(0, 0, 0, .87);
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
}
.search-overlay.-show {
    z-index: 999; 
    opacity: 1;
    visibility: visible;
}
.search-form {
    padding: 1rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
}
.search-form > .search {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    padding: 1rem;
    width: 100%;
    line-height: 2rem;
    border-bottom: .125rem dashed #FFF;
    color: #FFF;
    font-size: 1.5625rem;
    outline: none;
}